<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendar">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="exercises" href="/tabs/exercises">
      <ion-icon aria-hidden="true" name="barbell"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="analytics">
      <ion-icon aria-hidden="true" name="analytics"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
