@let exercise = exercise$ | async;
<!--  -->
@let performance = performance$ | async;
<!--  -->
@let logs = logs$ | async;

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/exercises"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      @if (exercise) {
      <ion-button (click)="onAddLog(exercise)">
        <ion-icon name="add" size="large"></ion-icon>
      </ion-button>
      }
    </ion-buttons>
    <ion-title>{{ exercise?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

@if(exercise && performance) {
<ion-content>
  <!--  -->
  @if (logs && logs.length) {
  <div echarts [options]="chartOption" class="demo-chart"></div>
  }

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card
          class="ion-no-margin"
          button
          (click)="onSetGoal(exercise, performance)"
        >
          <ion-card-header>
            <ion-card-title
              [color]="performance.bestOneRm > performance.oneRmGoal ? 'success' : 'secondary'"
            >
              {{ performance.oneRmGoal }}
            </ion-card-title>
            <ion-card-subtitle>
              {{ "EXERCISES.DETAIL.GOAL" | translate}}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <ion-card-header>
            <ion-card-title> {{ performance.initialOneRm }} </ion-card-title>
            <ion-card-subtitle>
              {{ "EXERCISES.DETAIL.INITIAL" | translate}}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <ion-card-header>
            <ion-card-title> {{ performance.lastOneRm }} </ion-card-title>
            <ion-card-subtitle>
              {{ "EXERCISES.DETAIL.LAST" | translate}}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <ion-card-header>
            <ion-card-title>{{ performance.bestOneRm }}</ion-card-title>
            <ion-card-subtitle>
              {{ "EXERCISES.DETAIL.BEST" | translate}}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-content>
      <ion-textarea
        autoGrow
        labelPlacement="floating"
        [label]="'EXERCISES.DETAIL.NOTES' | translate"
        [(ngModel)]="exercise.description"
        (ionChange)="onUpdateNote(exercise)"
      ></ion-textarea>
    </ion-card-content>
  </ion-card>

  <!--  -->

  <ion-list inset lines="full" #logsList>
    <ion-list-header>
      <ion-label>{{ "EXERCISES.DETAIL.LOGS" | translate }}</ion-label>
    </ion-list-header>

    @for(logView of logs | arraySlice: logListSize; track logView.log.id) {
    <ion-item-sliding>
      <ion-item
        detail="true"
        button
        class="log-item"
        (click)="onViewLogDetail(logView.log.id)"
      >
        <ion-label>
          <div class="log-header">
            <h2 class="log-oneRm">{{ logView.log.oneRm }} Kg</h2>
            <p class="log-reps-weight">
              {{ logView.log.weight }} Kg x {{ logView.log.reps }}
            </p>
          </div>
          <div class="log-meta">
            <small>{{ logView.log.date | date: 'short' }}</small>
          </div>
        </ion-label>

        @if (logView.oneRmDiff) {
        <ion-note
          class="diff-note"
          slot="end"
          [color]="logView | performanceColor"
        >
          {{ logView.oneRmDiff }}
        </ion-note>
        }
      </ion-item>
      <ion-item-options>
        <ion-item-option color="none" (click)="onUpdateLog(logView.log)">
          <ion-icon slot="icon-only" size="small" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="none" (click)="onDeleteLog(logView.log)">
          <ion-icon
            slot="icon-only"
            color="danger"
            size="small"
            name="trash"
          ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    }@empty {
    <ion-card class="card-empty">
      <ion-card-content>
        {{ 'EXERCISES.DETAIL.NO_LOGS' | translate }}
      </ion-card-content>

      <ion-button fill="clear" (click)="onAddLog(exercise)">
        {{ 'EXERCISES.DETAIL.ADD_LOG' | translate }}
      </ion-button>
    </ion-card>
    }
    <!--  -->
    @if (logs && logs.length > logListSize && logListSize > 0) {
    <ion-item button [detail]="false" (click)="logListSize = 0">
      <ion-icon
        slot="start"
        size="small"
        name="eye-outline"
        color="primary"
      ></ion-icon>
      <ion-label color="primary">{{ 'COMMON.SEE_ALL' | translate}}</ion-label>
      <ion-note slot="end" color="primary">({{ logs.length }})</ion-note>
    </ion-item>
    }
  </ion-list>

  <div class="ion-margin">
    <ion-button
      expand="block"
      fill="clear"
      color="secondary"
      (click)="onUpdateExercise(exercise)"
    >
      <ion-icon name="pencil" slot="start"></ion-icon>
      {{ 'COMMON.EDIT' | translate }}
    </ion-button>

    <ion-button
      expand="block"
      fill="clear"
      color="danger"
      (click)="onDeleteExercise(exercise)"
    >
      <ion-icon name="trash" slot="start"></ion-icon>
      {{ 'COMMON.DELETE' | translate }}
    </ion-button>
  </div>
</ion-content>
}
